body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  object-fit: cover;
}
.intro {
  background-color: #000;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.intro img {
  height: 100%;
  opacity: 0.2;
  position: absolute;
  z-index: 2;
}
.intro h1 {
  opacity: 1;
  color: #fff;
}
section {
  padding-inline: 12px;
  margin-block: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 8px;
}
p {
  margin-bottom: 6px;
}
b,
i,
a {
  color: rgb(80, 0, 0);
}
